<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<div style="font-size: 25px; margin-top: -1%; "><img src="https://image3.mouthshut.com/images/imagesp/925865246s.jpg" style="height: 50px; color: black;">Star Health Insurance 
  
      <a routerLink="/register-component" style="margin-left: 20%;">Register</a> &nbsp;&nbsp;&nbsp;
      <a routerLink="/cashless-component">Pre - Approval </a>&nbsp;&nbsp;&nbsp;
      <a routerLink="/reimbursement-component">Reimbursement</a>

       
    <router-outlet></router-outlet>
    
  </div>